<section>
    <a href="/dashboard"> &larr; back to dashboard</a>
  <h2>create new blog post</h2><hr>

  <form>
    <div>
      <label>title:</label>
      <input" placeholder="insert blog title here"/>
    </div>
    <div>
      <label> content:</label>
      <input />
    </div>
    <button>create post</button>
  </form>
</section>

<script src="/public/js/newpost.js"></script>