    <form class="form signup-form">
      <div>
        <label>username:</label>
        <input/>
      </div>
      {{!-- <div>
        <labelemail:</label>
        <input/>
      </div> --}}
      <div>
        <label>password:</label>
        <input/>
      </div>
      <div>
        <button>signup</button>
      </div>
    </form>
  </div>
</div>

<script src="./public/js/newuser.js"></script>